<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.htmgmt.mapper.RoomMapper">

    <insert id="save">
        insert into rooms values
        (#{id}, #{type}, #{status},#{floor},#{standardPrice},
         #{discountPrice},#{standardUserPrice},#{vipUserPrice}, #{remark})
    </insert>

    <update id="update">
        update rooms
        <set>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="floor != null">floor = #{floor},</if>
            <if test="standardPrice != null">standardPrice = #{standardPrice},</if>
            <if test="discountPrice != null">discountPrice = #{discountPrice},</if>
            <if test="standardUserPrice != null">standardUserPrice = #{standardUserPrice},</if>
            <if test="vipUserPrice != null">vipUserPrice = #{vipUserPrice},</if>
            <if test="remark != null">remark = #{remark}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByIds">
        delete from rooms where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectAll" resultType="com.htmgmt.pojo.Room">
        select * from rooms;
    </select>

    <select id="selectById" resultType="com.htmgmt.pojo.Room">
        select * from rooms where id = #{id};
    </select>

    <select id="selectByFields" resultType="com.htmgmt.pojo.Room">
        select * from rooms
        <where>
            <if test="id != null">and id= #{id}</if>
            <if test="type != null">and type= #{type}</if>
            <if test="status != null">and status= #{status}</if>
            <if test="floor != null">and floor= #{floor}</if>
            <if test="standardPrice != null">and standardPrice= #{standardPrice}</if>
            <if test="discountPrice != null">and discountPrice= #{discountPrice}</if>
            <if test="standardUserPrice != null">and standardUserPrice= #{standardUserPrice}</if>
            <if test="vipUserPrice != null">and vipUserPrice= #{vipUserPrice}</if>
            <if test="remark != null">and remark= #{remark}</if>
        </where>
    </select>


</mapper>